.muiButton {
  color: white;
  background-color: #5352ed !important;
  width: 50%;
  margin-top: 5em !important;
}

.muiButton:hover {
  background-color: #3333f3 !important;
}

.closeButton {
  display: flex !important;
}

.closeButton:hover {
  background-color: rgba(164, 176, 190, 0.5) !important;
}

.locationButton {
  display: flex !important;
  width: 80%;
  border-radius: 5px;
  margin-top: 1em;
}

.disableBtn{
  width: 50%;
  margin-top: 5em !important;
}

@media (max-width: 768px) {
  .mui-button {
    width: 100% !important;
    margin-top: 0 !important;
  }
}
